.profile {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 280px;

  background-color: #f5f5dc;
  border-radius: 5px;
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2);
}

.avatar {
  display: inline-block;
  align-items: center;

  border-radius: 100%;
}

.name {
  font-weight: 700;
  font-size: 20px;
}

.stats {
  display: flex;
  outline: 1px solid tomato;
}
