.profile {
  display: inline-block;
  padding: 30px 50px 0px 50px;
  margin: 10px;
  width: 200px;

  background-color: #f5f5dc;
  border-radius: 5px;
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2);
}

.stats {
  display: flex;
}
